$bg_color: #001913;
$text_color: #e0f2f1;
$green_100: #b2dfdb;
$green_200: #80cbc4;
$green_300: #4db6ac;
$green_400: #26a69a;
$green_500: #009688;
$green_600: #00897b;
$green_700: #00796b;

$input-bg: rgba(255, 255, 255, 0.137) !default;
$input-border-color: $green_300 !default;
$input-box-shadow: $green_200 !default;
$input-focus-bg: $green_300 !default;
$input-focus-color: $text_color !default;
$input-focus-box-shadow: $green_200 !default;
