/**
*
* Testing
*
**/
@import "../fonts/stylesheet.css";
.navbar-brand {
  width: 4vw;
}
.navbar-brand img {
  width: 100%;
}
@media (max-width: 450px) {
  .navbar-brand {
    width: 11vw;
    padding: 0;
  }
}

.sticky_Nav {
  position: fixed;
  z-index: 9999;
  top: 3vh;
  width: 90%;
  left: 5%;
}
@media (max-width: 450px) {
  .sticky_Nav {
    top: 0px;
    width: 100%;
    left: 0px;
  }
  .sticky_Nav .navbar {
    border-radius: 0px;
    margin-top: 0rem;
  }
}

.navbar {
  margin-top: 1rem;
  background: rgba(249, 255, 249, 0.368627451);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 50px;
}

.nav_link_active {
  color: white !important;
  font-weight: bold;
  position: relative;
}
.nav_link_active::after {
  content: " ";
  width: 5px;
  height: 5px;
  background-color: #26a69a;
  border-radius: 50px;
  position: absolute;
  bottom: 0px;
  left: 50%;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7058823529) !important;
}

.contact_us_btn {
  background: rgb(1, 77, 62);
  background: linear-gradient(238deg, rgba(1, 77, 62, 0.6) 0%, rgba(73, 182, 168, 0.6) 100%);
  color: white !important;
}

.navbar-toggler:focus {
  border: none !important;
}

.Header_img {
  position: absolute;
  width: 50%;
  right: 0px;
  top: -20vh;
  margin-right: 0vw;
}
@media (max-width: 820px) {
  .Header_img {
    height: 70vh;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

@media (max-width: 820px) {
  .header {
    flex-direction: column-reverse;
  }
}

.s-vh-100 {
  height: 100vh;
}
@media (max-width: 820px) {
  .s-vh-100 {
    height: 80vh;
  }
}

.header_text {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.play_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.play_container .play_title {
  margin-left: 20px;
}

.play_btn {
  border-radius: 43px 43px 43px 12px;
  background: linear-gradient(#4db6ac, #00796b);
  height: 8vh;
  width: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.play_btn img {
  width: 50%;
}

.aboutUs {
  width: 100vw;
  margin-top: 50vh;
  padding: 1rem;
  background-color: rgba(128, 203, 195, 0.5019607843);
  border-radius: 40px;
}
@media (max-width: 820px) {
  .aboutUs {
    margin-top: 10vh;
  }
}
.aboutUs .aboutUs_h1 {
  text-align: center;
}
.aboutUs .aboutUs_h1 span {
  font-weight: 800;
}

.aboutUs_Swiper {
  width: 100vw !important;
  left: -10vw !important;
}
@media (max-width: 820px) {
  .aboutUs_Swiper {
    width: auto !important;
    left: initial !important;
  }
}

.about_us_slide {
  border-radius: 40px 40px 40px 15px;
  background-color: rgba(0, 105, 89, 0.7137254902);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.about_us_slide_h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.about_us_slide_text {
  color: rgba(224, 242, 241, 0.6901960784);
}

.swiper_btns {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
@media (max-width: 820px) {
  .swiper_btns {
    width: 100%;
  }
}
.swiper_btns .swiper_button_prev {
  background: rgb(38, 166, 153);
  background: linear-gradient(120deg, rgb(38, 166, 153) 0%, rgb(19, 83, 77) 100%);
  border-radius: 30px 30px 30px 10px;
}
.swiper_btns .swiper_button_next {
  background: rgb(0, 77, 61);
  background: linear-gradient(45deg, rgb(0, 77, 61) 0%, rgb(0, 15, 12) 100%);
  border-radius: 30px 30px 10px 30px;
}
.swiper_btns .swiper_button {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  margin-top: 2rem;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.swiper_btns .swiper_button:hover {
  box-shadow: rgba(46, 46, 46, 0.384) 0px 8px 24px;
  box-shadow: rgba(50, 50, 93, 0) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0) 0px 18px 36px -18px inset;
  transform: scale(1.1);
}
@media (max-width: 450px) {
  .swiper_btns .swiper_button {
    width: 12vw;
    height: 12vw;
  }
}
.swiper_btns .swiper_button img {
  width: 70%;
}
@media (max-width: 450px) {
  .swiper_btns .swiper_button img {
    width: auto;
  }
}
.swiper_btns .leftIcon {
  transform: rotate(180deg);
}

.about_us_swiper_slide {
  width: 29vw !important;
}
@media (max-width: 820px) {
  .about_us_swiper_slide {
    width: 50vw !important;
  }
}
@media (max-width: 450px) {
  .about_us_swiper_slide {
    width: 80vw !important;
  }
}

.what_we_do .our_services_title {
  color: #e0f2f1;
  background-color: #26a69a;
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  width: 15%;
  width: 15%;
  text-transform: uppercase;
}
@media (max-width: 820px) {
  .what_we_do .our_services_title {
    width: auto;
  }
}
.what_we_do .our_services_cards {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.what_we_do .our_services_cards .card_container {
  display: inline-flex;
}
@media (max-width: 820px) {
  .what_we_do .our_services_cards .card_container {
    flex-wrap: wrap;
  }
}
.what_we_do .our_services_card {
  border-radius: 40px 40px 40px 10px;
  width: 100%;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top: 1rem;
  background-color: #009688;
  padding: 1.5rem;
}
@media (max-width: 820px) {
  .what_we_do .our_services_card {
    width: 45%;
  }
}
@media (max-width: 450px) {
  .what_we_do .our_services_card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.what_we_do .our_services_card_text {
  color: rgba(224, 242, 241, 0.7058823529);
  width: 80%;
}
.what_we_do .our_services_card_img {
  height: 30vh;
  margin: auto;
}
.what_we_do .our_services_card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.what_we_do .our_services_card_btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 25px 25px 25px 7px;
  border: 2px solid #e0f2f1;
}
@media (max-width: 820px) {
  .what_we_do .our_services_card_btn {
    width: 7vw;
    height: 7vw;
  }
}
@media (max-width: 450px) {
  .what_we_do .our_services_card_btn {
    width: 11vw;
    height: 11vw;
  }
}
.what_we_do .our_services_card_title {
  margin-top: 1rem;
}

.viewMore_btn {
  text-align: center;
  margin: 0 auto;
  border: 2px solid #e0f2f1;
  padding: 0.5rem 1.5rem;
  background-color: #001913;
  border-radius: 30px 30px 30px 10px;
  position: relative;
  transition: all 2s;
}
.viewMore_btn::before {
  content: " ";
  background-color: #001913;
  width: 25px;
  height: 20px;
  bottom: -10px;
  left: 10px;
  transition: all 1s;
  position: absolute;
}

.our_services_big__images {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_services_big__images .img_div {
  position: absolute;
}
.our_services_big__images .img_div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.our_services_big__images .image_1 {
  width: 15vw;
  height: 15vw;
  bottom: 0px;
  left: 20px;
}
.our_services_big__images .image_1 img {
  border-radius: 40px 10px 40px 40px;
}
@media (max-width: 820px) {
  .our_services_big__images .image_1 {
    display: none;
  }
}
.our_services_big__images .image_2 {
  right: 10px;
  width: 6vw;
  height: 6vw;
  top: 10px;
}
.our_services_big__images .image_2 img {
  border-radius: 40px 10px 40px 40px;
}
@media (max-width: 820px) {
  .our_services_big__images .image_2 {
    display: none;
  }
}
.our_services_big__images .image_3 {
  left: 110px;
  width: 14vw;
  height: 14vw;
  top: 33px;
}
.our_services_big__images .image_3 img {
  border-radius: 40px 40px 40px 10px;
}
@media (max-width: 820px) {
  .our_services_big__images .image_3 {
    display: none;
  }
}
.our_services_big__images .image_4 {
  width: 14vw;
  height: 14vw;
  bottom: 60px;
  right: 50px;
}
.our_services_big__images .image_4 img {
  border-radius: 40px 40px 10px 40px;
}
@media (max-width: 820px) {
  .our_services_big__images .image_4 {
    width: 80vw;
    height: 40vh;
    position: relative;
    margin: auto;
    top: 0px;
    left: 0px;
  }
}
.our_services_big__images .bg {
  width: 75%;
  height: 65%;
  background-color: rgba(128, 203, 195, 0.5215686275);
  border-radius: 40px;
}
@media (max-width: 820px) {
  .our_services_big__images .bg {
    display: none;
  }
}

.our_services_big__text {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media (max-width: 450px) {
  .our_services_big__text {
    height: 35vh;
  }
}
.our_services_big__text h1 {
  margin-bottom: 5vh;
  font-size: 3.5rem;
  font-weight: 700;
}

.letsDescus_btn {
  background: #26a69a;
  color: white;
  text-decoration: none;
  width: 26%;
  padding: 10px 20px;
  border-radius: 20px 20px 20px 5px;
  margin-top: 5vh;
  font-weight: 400;
}
.letsDescus_btn:hover {
  color: white;
}
@media (max-width: 450px) {
  .letsDescus_btn {
    width: auto;
  }
}

.our_services_section {
  margin-top: 10vh !important;
}
@media (max-width: 450px) {
  .our_services_section {
    text-align: center;
  }
}
.our_services_section:nth-child(2) {
  flex-direction: row-reverse;
  text-align: end;
}
@media (max-width: 450px) {
  .our_services_section:nth-child(2) {
    text-align: center;
  }
}
.our_services_section:nth-child(2) .our_services_big__text {
  align-items: flex-end;
}
@media (max-width: 450px) {
  .our_services_section:nth-child(2) .our_services_big__text {
    align-items: center;
  }
}

.New_request {
  background-color: rgba(128, 203, 195, 0.7137254902);
}

.form_container {
  width: 70%;
  margin: 0 auto;
  background: rgba(0, 137, 123, 0.6862745098);
  border-radius: 30px;
  padding: 2rem;
}
.form_container input {
  color: rgba(255, 255, 255, 0.768627451) !important;
  background-color: rgba(255, 255, 255, 0) !important;
  box-shadow: #80cbc4;
  border: 1px solid #80cbc4;
}
.form_container input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.768627451) !important;
}
.form_container input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.768627451) !important;
}
.form_container input::placeholder {
  color: rgba(255, 255, 255, 0.768627451) !important;
}
@media (max-width: 450px) {
  .form_container {
    width: 95%;
  }
}

.form-control:focus {
  color: #e0f2f1 !important;
  background-color: inherit !important;
  border-color: #4db6ac !important;
  box-shadow: 0 0 2px 0.1rem #4db6ac !important;
}

.form-check .form-check-input {
  float: initial !important;
  margin-right: auto !important;
}

.form-check-input:checked {
  background-color: #80cbc4 !important;
  border-color: #b2dfdb;
}

footer .footer_icon {
  width: 40px;
  height: 40px;
}
footer .footer_icon img {
  width: 70%;
}
footer .contactUs {
  background-color: rgba(77, 182, 172, 0.5490196078);
  border-radius: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
}
footer .mail {
  margin-left: auto;
}
footer .mail img {
  width: 50px;
}
@media (max-width: 820px) {
  footer .Social_footer {
    width: 100%;
  }
}

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 450px) {
  .map iframe {
    height: 50vh;
  }
}

.contactNav {
  background: rgba(49, 106, 97, 0.5882352941);
}

.contact_card {
  position: absolute;
  top: 21vh;
  left: 13vw;
  width: 25vw;
  background: rgba(49, 106, 97, 0.5882352941);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 35px;
  padding: 1rem 2rem;
}
@media (max-width: 820px) {
  .contact_card {
    width: 45vw;
  }
}
@media (max-width: 450px) {
  .contact_card {
    width: 100vw;
    position: relative;
    top: initial;
    left: initial;
    border-radius: 0px;
  }
}
.contact_card .form-label {
  color: white;
}
.contact_card .contact_h1 {
  text-align: center;
  margin: 0 auto;
}
.contact_card .contact_h1 span {
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
}
.contact_card input,
.contact_card textarea {
  background: transparent;
  color: white;
}
.contact_card input::-moz-placeholder, .contact_card textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.733);
}
.contact_card input:-ms-input-placeholder, .contact_card textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.733);
}
.contact_card input::placeholder,
.contact_card textarea::placeholder {
  color: rgba(255, 255, 255, 0.733);
}
.contact_card .contact_submit {
  background: rgb(1, 77, 62);
  background: linear-gradient(238deg, rgba(1, 77, 62, 0.6) 0%, rgba(73, 182, 168, 0.6) 100%);
  text-align: center;
  width: initial;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e0f2f1;
  font-family: Aileron;
}

body {
  overflow-x: hidden;
  background-color: #001913 !important;
}

button {
  border: none;
  outline: none;
}

.text_green {
  color: #80cbc4;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}

.our_partner_img img {
  width: 8vw;
}

@media (min-width: 820px) {
  .w-md-75 {
    width: 75% !important;
  }
}/*# sourceMappingURL=style.css.map */